name: Rust CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Install FFmpeg dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libavutil-dev libavformat-dev libavcodec-dev libswscale-dev libswresample-dev pkg-config
    - name: Run tests
      run: cargo test --verbose
